{{ define "main" }}
<article class="project-detail">
  {{ $imgs := slice }}
  {{ with .Params.gallery }}
    {{ if gt (len .) 0 }}
      {{ $imgs = . }}
    {{ end }}
  {{ end }}

  {{ if and (eq (len $imgs) 0) .Params.imageDir }}
    {{ $dir := printf "static/%s" .Params.imageDir }}
    {{ range (readDir $dir) }}
      {{ $name := .Name }}
      {{ $ext := lower (path.Ext $name) }}
      {{ if in (slice ".jpg" ".jpeg" ".png" ".webp" ".gif" ".svg") $ext }}
        {{ $rel := printf "%s/%s" $.Params.imageDir $name }}
        {{ $u := $rel | relURL }}
        {{ $imgs = $imgs | append $u }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if gt (len $imgs) 0 }}
  <div class="gallery gallery--cols-2" data-gallery="true">
    {{ range $imgs }}
    <a class="gallery-item" href="{{ . }}" data-lightbox="1">
      <img src="{{ . }}" alt="{{ $.Title }}" loading="lazy" decoding="async">
    </a>
    {{ end }}
  </div>
  {{ end }}

  <div class="project-content">
    {{ .Content }}
  </div>
</article>

{{ end }}

